/*
 * Reset default style
 */

@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'ZCOOL KuaiLe';
  font-size: 18px;
  line-height: 1.2;
}

p {
  margin: 0;
  & + p {
    margin-top: 10px;
  }
}