// Colors --------
$bg-black: #545c64;
$color-blue: #719eed;

// Font
$font-primary: 'ZCOOL KuaiLe';

// Breakpoints ----------
$mobile: 'screen and (max-width: 767px)';
$touch: 'screen and (max-width: 1024px)';
$desktop: 'screen and (min-width: 1025px)';
